<div class="panel panel-primary">
  <div class="panel-heading"><%= @event.name %></div>

  <div class="panel-body">

    <p>Location: <%= @event.location %></p>
    <p>Date: <%= @event.starts_at %> - <%= @event.ends_at %></p>
    <p>Price: <%= @event.price %></p>

    <!-- About -->
    <h4>About</h4>
    <p><%= @event.description %></p>

    <!-- Additional Info -->
    <h4>Additional Info</h4>

    <p>Food: <%= @event.includes_food ? "Provided" : "Not provided" %></p>
    <p>Drinks: <%= @event.includes_drinks ? "Provided" : "Not provided" %></p>

    <!-- Categories -->

    <h4>Categories</h4>
    <% @categories.each do |category| %>
      <span class="label label-success"><%= category.name %></span>
    <% end %>

    <h4>Photos</h4>
    <% @event.photos.each do |photo| %>
      <%= image_tag photo.image.thumbnail %>
    <% end %>

  </div>

</div>

<%= link_to "Back", events_path, class: "btn btn-default" %>
